<!DOCTYPE html>
<html>
<head>
  <title>SandboxApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<p><%= link_to('Tweets', tweets_url) %></p>
		<p><%= link_to('New Text', new_tweet_url) %></p>
	</header>
	<p><%= flash[:info] %></p>
	<%= yield %>
</body>
</html>